<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ugdk.lecture.mapper.LectureMapper">

	<sql id="LectureColumns">
		  idx
		, title
		, lecture
		, quiz
		, quiz2
		, goal
		, assignment
	</sql>

	<select id="getLectureInfo" parameterType="int" resultType="LectureDTO">
		SELECT
			<include refid="LectureColumns" />
		FROM
			as_content
		WHERE
			idx = #{idx}
	</select>


	<select id="getAllLectureInfos" resultType="LectureDTO">
		SELECT
			<include refid="LectureColumns" />
		FROM
			as_content
	</select>
	
	<insert id="submitAssignment" parameterType="AssignmentDTO">
		INSERT INTO as_assignment
		(title, content, contentId, memberId)
		VALUES
		(#{title},#{content},#{contentId},#{memberId})
	</insert>
	
	<select id="getProgressInfos" parameterType="HashMap" resultType="ProgressDTO">
		SELECT
			idx,
			unitId,
			contentId,
			memberId,
			score,
			date
		FROM
			as_progress
		WHERE
			memberId=#{id} 
			AND unitId=#{unit}
	</select>
	
	<select id="getProgressInfo" parameterType="HashMap" resultType="ProgressDTO">
		SELECT
			idx,
			unitId
			contentId,
			memberId,
			score,
			date
		FROM
			as_progress
		WHERE
			unitId=#{unitId}
			AND contentId=#{contentId}
			AND memberId=#{memberId}
	</select>
	
	<insert id="insertProgressInfo" parameterType="ProgressDTO">
		INSERT INTO as_progress
		(unitId,contentId,memberId,score)
		VALUES
		(#{unitId},#{contentId},#{memberId},#{score})
	</insert>
	
	<update id="updateProgressInfo" parameterType="ProgressDTO">
		UPDATE as_progress
		SET
			score=#{score},
			date=NOW()
		WHERE
			idx=#{idx}
	</update>
	
</mapper>
