<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic">
<meta charset="utf-8">
	<th:block layout:fragment="title">
		<title>The page is a write page</title>
	</th:block>


	<th:block layout:fragment="content">
	       <!-- 게시글 리스트 -->
        <div class="container">
          <div class="write-box">
            <div class="write-title"><a href="/board/list.do">자유게시판</a></div>
            <div class="write-form">
              <form th:action="@{/board/register.do}" th:object="${board}" method="post" onsubmit="return registerBoard(this)">
                <ul class="write-list">
                  <li class="write-nickname">
                    <div class="write-nick">
                      <input type="text"  th:field="*{writer}"  class="nick" name="nick" placeholder="닉네임">
                      <label for="" class="check-secret">비밀글</label>
						<input type="checkbox" class="write-secret" th:value="*{secretYn}" id="secretYn" name="secretYn" th:checked="*{#strings.equals( secretYn, 'Y' )}" />
                    </div>
                  </li>
                  <li>
                    <div class="write-subject">
                      <input type="text" th:field="*{title}" class="subject" name="subject" placeholder="제목">
                    </div>
                  </li>
                  <li>
                    <div class="content">
                      <textarea name="memo" th:field="*{content}" placeholder="내용" class="write-memo"></textarea>
                    </div>
                  </li>
                </ul>
              </form>
            </div>

          <div>
            <div style="width:100%">
              <div class="okbtn">
                <a  class="write-btn"><input type="submit" value="확인" class="write-ok-btn"></a>
              </div>
            </div>
          </div>

        </div>
      </div>
	
	</th:block>

	<th:block layout:fragment="css">
	
	<link th:href="@{/css/Community_Write.css}" rel="stylesheet">
	</th:block>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
		/*<![CDATA[*/

			function registerBoard(form) {

	form.noticeYn.value = form.noticeYn.checked == false ? 'N' : 'Y';
	form.secretYn.value = form.secretYn.checked == false ? 'N' : 'Y';

	var result = (
			   isValid(form.title, "제목", null, null)
			&& isValid(form.writer, "이름", null, null)
			&& isValid(form.content, "내용", null, null)
	);

	if ( result == false ) {
		return false;
	}

	var idx = /*[[ ${board.idx} ]]*/;
	if (isEmpty(idx) == false) {
		var queryString = /*[[ ${params.makeQueryString(params.currentPageNo)} ]]*/;

		/*[- 쿼리 스트링을 오브젝트 형태로 변환 -]*/
		queryString = new URLSearchParams(queryString);
		queryString.forEach(function(value, key) {
			if (isEmpty(value) == false) {
				$(form).append('<input type="hidden" name="' + key + '" value="' + value + '" />');
			}
		});
	}
}
			/*[- end of function -]*/

			/*]]>*/
		</script>
	</th:block>
</html>