<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
	<head>
	<title>회원 가입</title>
	
	<link th:href="@{/css/Login.css}" rel="stylesheet">
	<link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
	<script>
		function check_register(){
			if(document.register_form.id.value == ""){
				alert("아이디를 입력해주세요");
				document.register_form.id.focus();
				exit();
			}
			if(document.register_form.name.value == ""){
				alert("별명을 입력해주세요");
				document.register_form.name.focus();
				exit();
			}
			if(document.register_form.email.value == ""){
				alert("이메일을 입력해주세요");
				document.register_form.email.focus();
				exit();
			}
			if(document.register_form.password.value == ""){
				alert("비밀번호를 입력해주세요");
				document.register_form.password.focus();
				exit();
			}
			if(document.register_form.password2.value == ""){
				alert("비밀번호 재확인을 입력해주세요");
				document.register_form.password2.focus();
				exit();
			}
			if(document.register_form.password.value != document.register_form.password2.value){
				alert("비밀번호가 서로 일치하지 않습니다.");
				document.register_form.password.focus();
				exit();
			}
			document.register_form.submit();
			
		}
	
	
	</script>
</head>

<body>
	<div class="container">

		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">

					<div
						class="col-lg-5 d-none d-lg-block bg-gradient-primary sidebar-dark">
						<div class="a text-center vertical-center">
							<a href="" class=""><img th:src="@{/img/ugly-duckling.png}" alt=""></a>
						</div>
					</div>


					<div class="col-lg-7">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-green mb-4">Register</h1>
							</div>
							<form class="user" name="register_form" th:action="@{/member/signup.do}" method="post">
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input type="text" class="form-control form-control-user"
											id="exampleFirstName" name="id" placeholder="아이디">
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control form-control-user"
											id="exampleLastName" name="name" placeholder="별명">
									</div>
								</div>
								<div class="form-group">
									<input type="email" class="form-control form-control-user"
										id="exampleInputEmail" name="email" placeholder="이메일">
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input type="password" class="form-control form-control-user"
											id="exampleInputPassword" name="password" placeholder="비밀번호">
									</div>
									<div class="col-sm-6">
										<input type="password" class="form-control form-control-user"
											id="exampleRepeatPassword" name="password2" placeholder="비밀번호 재확인">
									</div>
								</div>
								<input type="button" class="btn btn-primary btn-user btn-block" value="제출" onClick="check_register()">

							</form>
							<hr>
							<div class="service-center-btn text-center">
								<a class="" th:href="@{/service.do}">고객센터 문의하기</a>
							</div>
							<div class="login-btn text-center">
								<a class="" href="/member/login.do">이미 회원이신가요? 로그인</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>


</html>