<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/basic">
<meta charset="utf-8">

<th:block layout:fragment="title">
	<title>this is progress page</title>
</th:block>


<th:block layout:fragment="content">

<div class="container">
          <div class="">

            <div class="status-div">
              <span class="status"><a href="Learning_Status.html"> Unit2</a></span>
            </div>

            <div class="unit-div">
              <span class="unit-title">주고받는 대화를 위한 규칙</span>
            </div>

            <div class="button-div">
              <span><a href="" class="aa"><i class="fa fa-chevron-left"></i></a></span>
              <span><a href="" class="bb"><i class="fa fa-chevron-right"></i></a></span>
            </div>

          </div>

          <div class="row">
            <div class="col-12">

              <div class="video-container">
                <iframe src="https://xelf.io/land/eb0c4228-9a03-4ec3-bca6-d1e81cd6cde5" width="100%" height="500" allowfullscreen="true"></iframe>
              </div>
			</div>
		</div>

    </div>

</th:block>


</th:block><th:block layout:fragment="css">
	<link th:href="@{/css/Learning_Contents.css}" rel="stylesheet">
</th:block>
</html>