<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/basic">
<head>
<title>Ugly Duckling</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<!--===============================================================================================-->
<link href="fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

<script src="https://use.fontawesome.com/82641925aa.js"></script>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<form id="myForm" class="login100-form validate-form">
						<div class="p-5">
							<div class="text-center"
								style="margin-top: -30px; margin-bottom: 30px;">
								<h1 class="h4 text-green mb-4">고객 센터</h1>
							</div>
							<div class="form-group">
								<input type="text" class="form-control form-control-user"
									id="user_name" name="user_name" placeholder="이름">
							</div>
							<div class="form-group">
								<input type="email" class="form-control form-control-user"
									id="user_email" name="user_email" placeholder="이메일">
							</div>
							<div class="form-group">
								<textarea rows="5" name="message" id="message"
									placeholder="문의사항" class="form-control form-control-user"
									style="resize: none; padding: 1rem 1rem;"></textarea>
							</div>
							<input type="submit" class="btn btn-primary btn-user btn-block"
								onclick="javascript:sendmail()" />
					</form>
				</div>
			</div>
		</div>
		</div>


		<div id="dropDownSelect1"></div>
	</th:block>

	<th:block layout:fragment="script">
		<script type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>

		<script>
			(function() {
				emailjs.init("user_n7OOavruN6DLLs9UmbKFo");
			})();

			$('#myForm').on('submit', function(event) {
				event.preventDefault(); // prevent reload

				var formData = new FormData(this);
				formData.append('service_id', 'uglyduckling');
				formData.append('template_id', 'template_xg1erx9');
				formData.append('user_id', 'user_n7OOavruN6DLLs9UmbKFo');

				$.ajax('https://api.emailjs.com/api/v1.0/email/send-form', {
					type : 'POST',
					data : formData,
					contentType : false, // auto-detection
					processData : false
				// no need to parse formData to string
				}).done(function() {
					alert('Your mail is sent!');
				}).fail(function(error) {
					alert('Oops... ' + JSON.stringify(error));
				});
			});
		</script>
	</th:block>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

	<th:block layout:fragment="css">
		<link rel="stylesheet" type="text/css"
			th:href="@{/css/service-center.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/Login.css}">
		<link th:href="@{/css/sb-admin-2.css}" rel="stylesheet" type="text/css">
	</th:block>


	<th:block layout:fragment="scripts">
		<script th:src="@{/scripts/main.js}"></script>
	</th:block>
</body>
</html>
