body{
  color:black;
  height:100%;
}

.content-main{
	min-height:100%;
	margin: 0 auto -50px;
}



.community-title{
  font-size:26px;
  font-weight: 900;
  padding:10px;
}

.community-title a, .community-title a:hover{
	color:#16a085;
	text-decoration:none;
}

.clearfix {
	display:block;
}
table *{
  text-align:center;
  font-size:13px;
}

.table-box{
  overflow-x:auto;
}

.ww{
  margin: 5px 0 5px 0;
}


#write-btn{
  border:solid 1px;
  padding:5px;
  min-width:80px;
  width:5%;
}

#write-btn a{
  color:black;
}

.content-title,.content-title:hover{
    color:black;
    width:100px;
  }

.notice,.notice:hover{
  color:black;
  font-weight:bold;
}

tr {
  height: 30px !important;

}

td{
  color:black;
  text-overflow : ellipsis;
  overflow : hidden;
  /* white-space: nowrap; */
  min-width:60px;
  max-width:200px;
}

td:nth-child(2){
  min-width:110px !important;
}

td a{
  text-align: left;
  min-width:30px !important;

}


@media screen and (max-width:768px){
  table *{font-size:11px;}

  td{
    min-width:50px;
  }

  th:nth-child(4),th:nth-child(5),th:nth-child(6){
    /* display:none; */
  }

  td:nth-child(4),td:nth-child(5),td:nth-child(6){
    /* display:none; */
  }

  #write-btn{
    border:solid 1px;
    padding:3px;
    min-width:60px;
	
  }

  #write-btn a{
    font-size:10px;
  }

}

.line {
	border-bottom:1px solid #e3e6f0;
}


.pagination a{
  margin: 0 4px;
  border:none;
}
