.my-5{
  margin-top:5rem !important;
}

.a{
  line-height:460px;
}

.a img{
  vertical-align:middle;
  width:80%;
}

/*
@media (min-width:992px){
  .d-lg-none{
    display:none !important;
  }
}
 */



.text-green{
  font-size:30px;
  color:#16a085;
  font-weight:800;
}

.bg-gray{
  background-color:#858796;
}

form.user .form-control-user{
    border-radius: 0.3rem;
}

.form-control:focus {
  color: #6e707e;
  background-color: #fff;
  border-color: #bac8f3;,
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(22,159,132, 0.25);

}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #16a085;
  background-color: #16a085;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(22,159,132, 0.25);
}

.btn-primary {
  color: #fff;
  background-color: #16a085;
  border-color: #16a085;
}

.btn-primary:hover {
  color: #fff;
  background-color: #137e69;
  border-color: #137e69;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #137e69;
  border-color: #137e69;
  box-shadow: 0 0 0 0.2rem rgba(19,126,105, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #137e69;
  border-color: #137e69;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(19,126,105, 0.5);
}


form.user .btn-user {
  border-radius:0.3rem;
}

.service-center-btn, .login-btn{
  margin-top:0.3rem;
}

.register-btn {
  margin-top:1rem;
}

.service-center-btn a, .register-btn a, .login-btn a{
  color:black;
}
